AIRGAP_SSH_USER=ec2-user
AIRGAP_SSH_KEY_PATH=/home/aki/.aws/key/260428-k8s-key.pem
AIRGAP_BASTION_PUBLIC_IP=13.125.228.66
AIRGAP_MASTER_PRIVATE_IP=10.10.20.151
AIRGAP_WORKER1_PRIVATE_IP=10.10.20.154
AIRGAP_OFFLINE_ASSETS_ARCHIVE=offline-assets.tar.gz
AIRGAP_SERVER_ASSETS_DIR=/opt/offline-assets
