AIRGAP_SSH_USER=ec2-user
AIRGAP_SSH_KEY_PATH=
AIRGAP_SSH_PORT=22
AIRGAP_USE_BASTION=true
AIRGAP_BASTION_PUBLIC_IP=13.125.228.66
AIRGAP_BASTION_HOST=bastion
AIRGAP_CONTROL_NODE_IP=
AIRGAP_CONTROL_NODE_HOST=
AIRGAP_MASTER_PRIVATE_IP=10.10.20.151
AIRGAP_MASTER_HOST=k8s-master
AIRGAP_WORKER1_PRIVATE_IP=10.10.20.154
AIRGAP_WORKER1_HOST=k8s-worker1
AIRGAP_OFFLINE_ASSETS_ARCHIVE=offline-assets.tar.gz
AIRGAP_SERVER_ASSETS_DIR=/opt/offline-assets
AIRGAP_OPS_RUNTIME_ARCHIVE=ops-runtime.tar.gz
AIRGAP_SERVER_OPS_RUNTIME_DIR=/opt/airgap-k8s-ops
AIRGAP_CALICO_ENCAPSULATION=VXLAN
AIRGAP_METALLB_ADDRESS_POOL=10.10.20.240-10.10.20.250
AIRGAP_GRAFANA_HOST=grafana.airgap.local
AIRGAP_PROMETHEUS_HOST=prometheus.airgap.local
AIRGAP_INGRESS_HTTP_NODE_PORT=30080
AIRGAP_INGRESS_HTTPS_NODE_PORT=30443
