aws_region         = "ap-northeast-2"
project_name       = "airgap-k8s"
environment        = "lab"
availability_zone  = "ap-northeast-2a"
vpc_cidr           = "10.10.0.0/16"
public_subnet_cidr = "10.10.10.0/24"
private_subnet_cidr = "10.10.20.0/24"
admin_cidr         = "0.0.0.0/0"
ami_id             = "ami-xxxxxxxxxxxxxxxxx"
key_pair_name      = "replace-with-existing-keypair"
bastion_instance_type = "t3.small"
node_instance_type    = "m7i-flex.large"
node_root_volume_size = 30
